<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Rick and morty characters list
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        Rick and morty characters list
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-list class="characters-list">
    <app-character-card *ngFor="let character of characters" [character]="character" class="character-card"></app-character-card>
  </ion-list>
</ion-content>